$green: #bac34e;
$black: #222;
$white: #fff;
$light-color: #666;
$red-color: #dd2222;
$light-bg: #f3f3f3;
$border: 1px solid rgba(0, 0, 0, 0.1);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}
section {
  padding: 2rem 10%;
  text-transform: capitalize;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: $green;
  color: $white;
  font-size: 1.6rem;
  cursor: pointer;
  &:hover {
    background: $black;
  }
}
.heading {
  background: url(../../../assets/images/home/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
  h1 {
    color: $black;
    font-size: 4rem;
    text-transform: capitalize;
  }

  p {
    padding-top: 1rem;
    font-size: 2rem;
    color: $light-color;
    text-transform: capitalize;

    a {
      color: $black;
      padding-right: 0.5rem;

      &:hover {
        color: $green;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: $border;
  font-size: 2.5rem;
  color: $black;
  text-transform: capitalize;

  span {
    color: $green;
    padding-left: 0.7rem;
  }

  a {
    margin-left: auto;
    color: $light-color;
    font-size: 1.5rem;

    &:hover {
      color: $green;
    }
  }
}

// Menu
#menu-btn {
  display: none;
}

// media queries

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .home #next-slide,
  .home #prev-slide {
    transform: translateY(0);
    top: 88%;
  }

  .home #prev-slide {
    left: auto;
    right: 8rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header {
    .search-form {
      width: 100%;
      right: 0;
      border-radius: 0;

      &.active {
        top: 100%;
        border-top: $border;
        border-bottom: $border;
      }
    }

    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: $white;
      border-top: $border;
      border-bottom: $border;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      text-align: center;
      padding-bottom: 20px;

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

      a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: $light-bg;
        font-size: 2rem;
        display: block;
        border-radius: 0.5rem;

        & + a {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slides-container .slide .content h3 {
    font-size: 5rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}
