<app-header></app-header>

<!-- About -->
<div class="heading">
  <h1>about us</h1>
  <p><a href="home.html">home >></a> about</p>
</div>

<section class="about">
  <div class="image">
    <img src="../../assets/images/home/about-img.jpg" alt="" />
  </div>

  <div class="content">
    <span>welcome to our shop</span>
    <h3>fresh and organic groceries</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae vel sequi
      nostrum quae nobis non quaerat nisi voluptatibus recusandae reprehenderit
      tempore eligendi, eum quibusdam perferendis dicta, incidunt dolores nemo
      ex.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem cumque
      molestiae blanditiis deleniti aspernatur, ab tempora quisquam sapiente
      commodi hic.
    </p>
    <a href="#" class="btn">read more</a>
  </div>
</section>

<section class="gallery">
  <h1 class="title">our <span>gallery</span> <a href="#">view all >></a></h1>

  <div class="box-container">
    <div class="box">
      <img src="../../assets/images/home/gallery-img-1.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share-alt"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/home/gallery-img-2.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share-alt"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/home/gallery-img-3.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share-alt"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/home/gallery-img-4.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share-alt"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/home/gallery-img-5.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share-alt"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/home/gallery-img-6.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share-alt"></a>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->

<section class="contact">
  <h1 class="title">contact <span>us</span></h1>

  <div class="icons-container">
    <div class="icons">
      <i class="fas fa-phone"></i>
      <h3>our number</h3>
      <p>+123-456-7890</p>
      <p>+111-222-3333</p>
    </div>

    <div class="icons">
      <i class="fas fa-envelope"></i>
      <h3>our email</h3>
      <p>shaikhanas#gmail.com</p>
      <p>anasbhai@gmail.com</p>
    </div>

    <div class="icons">
      <i class="fas fa-map-marker-alt"></i>
      <h3>our address</h3>
      <p>mumbai, india - 400104</p>
    </div>
  </div>

  <div class="row">
    <form action="">
      <h3>get in touch</h3>
      <div class="inputBox">
        <input type="text" placeholder="Enter your name" class="box" />
        <input type="email" placeholder="Enter your email" class="box" />
      </div>
      <div class="inputBox">
        <input type="number" placeholder="Enter your number" class="box" />
        <input type="text" placeholder="Enter your subject" class="box" />
      </div>
      <textarea placeholder="Your message" cols="30" rows="10"></textarea>
      <button type="submit" class="btn">send message</button>
    </form>

    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7834.805867034727!2d107.3475777!3d10.9329048!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1639356549938!5m2!1svi!2s"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</section>

<app-footer></app-footer>
