<input type="checkbox" name="sidebar-toggle" id="sidebar-toggle" checked />

<div class="sidebar-seller">
  <div class="sidebar-brand">
    <label for="sidebar-toggle">
      <h2>
        <i class="fab fa-accusoft"></i>
        <span>Accusoft</span>
      </h2>
    </label>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a
          routerLink="/admin/dashboard"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="fa fa-igloo"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/categories" [routerLinkActive]="'active'">
          <i class="fab fa-cuttlefish"></i>
          <span>Category</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/products" [routerLinkActive]="'active'">
          <i class="fab fa-product-hunt"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/account" [routerLinkActive]="'active'">
          <i class="fa fa-user-circle"></i>
          <span>Account</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="main-content-seller">
  <header>
    <h2>
      <label for="sidebar-toggle">
        <span class="fa fa-bars"></span>
      </label>
      Dashboard
    </h2>
    <div class="search-wrapper">
      <i class="fa fa-search"></i>
      <input type="search" placeholder="Search here" />
    </div>
    <ng-container *ngIf="account">
      <div class="user-profile">
        <div class="profile">
          <img [src]="account.avatar" alt="account.avatar" />
        </div>
        <div class="menu active">
          <h3>
            Some Famous <br />
            <span>Website</span>
          </h3>
          <ul>
            <li>
              <a href="#"><i class="fal fa-user-circle"></i>My profile</a>
            </li>
            <li>
              <a href="#"><i class="fal fa-user-edit"></i>Edit profile</a>
            </li>
            <li>
              <a href="#"><i class="fal fa-question-circle"></i>Help</a>
            </li>
            <li>
              <a (click)="logout()"
                ><i class="fal fa-sign-out-alt"></i>Logout</a
              >
            </li>
          </ul>
        </div>
      </div></ng-container
    >
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
