<form
  class="login-form signup-form mat-typography"
  [formGroup]="createProductForm"
  (ngSubmit)="onCreateProduct()"
>
  <h3>create product</h3>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Name</mat-label>
    <input
      type="text"
      matInput
      placeholder=" "
      class="form-input"
      formControlName="name"
    />
  </mat-form-field>
  <div class="form-row">
    <div class="form-group">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Price</mat-label>
        <input
          type="number"
          matInput
          placeholder=" "
          class="form-input"
          formControlName="price"
        />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Quantity</mat-label>
        <input
          type="number"
          matInput
          placeholder=" "
          class="form-input"
          formControlName="quantity"
        />
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <ng-container *ngFor="let category of categories">
        <mat-option [value]="category.code">{{ category.name }}</mat-option>
      </ng-container>
      <!-- <mat-option value="two">Second option</mat-option> -->
    </mat-select>
  </mat-form-field>

  <div class="form-field input-radio" placeholder=" ">
    <label>Status </label>
    <mat-radio-group formControlName="status" class="radio-group">
      <mat-radio-button value="true" [checked]="true">Active</mat-radio-button>
      <mat-radio-button value="false">No active</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="form-field form-field-thumbnail">
    <label for="thumbnail"
      ><i class="fal fa-plus-circle"></i>Add a thumbnail file</label
    >
    <input
      type="file"
      name="thumbnail"
      id="thumbnail"
      formControlName="thumbnail"
    />
  </div>

  <button type="submit" class="btn">Create</button>
</form>
