<form
  class="login-form signup-form mat-typography"
  [formGroup]="createCategoryForm"
  (ngSubmit)="onCreateCategory()"
>
  <mat-dialog-content class="mat-typography">
    <h3>create category</h3>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Code</mat-label>
      <input
        type="text"
        matInput
        placeholder=" "
        class="form-input"
        formControlName="code"
      />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        placeholder=" "
        class="form-input"
        formControlName="name"
      />
    </mat-form-field>

    <div class="form-field form-field-thumbnail">
      <label for="thumbnail"
        ><i class="fal fa-plus-circle"></i>Add a thumbnail file</label
      >
      <input
        type="file"
        name="thumbnail"
        id="thumbnail"
        formControlName="thumbnail"
      />
    </div>

    <!-- <button type="submit" class="btn">Create</button> -->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" class="btn" mat-button>Create</button>
  </mat-dialog-actions>
</form>
