<div class="cards">
  <div class="card-single">
    <div class="card-info">
      <h1>{{ quantityUser }}</h1>
      <span>User</span>
    </div>
    <div class="card-icon">
      <i class="fa fa-users"></i>
    </div>
  </div>
  <div class="card-single">
    <div class="card-info">
      <h1>{{ quantityCategory }}</h1>
      <span>Category</span>
    </div>
    <div class="card-icon">
      <i class="fab fa-cuttlefish"></i>
    </div>
  </div>
  <div class="card-single">
    <div class="card-info">
      <h1>{{ quantityProduct }}</h1>
      <span>Product</span>
    </div>
    <div class="card-icon">
      <i class="fab fa-product-hunt"></i>
    </div>
  </div>
</div>

<div class="recent-flex">
  <div class="projects">
    <div class="card">
      <div class="card-header">
        <h3>Products</h3>
        <button class="btn btn-expand" routerLink="/admin/products">
          See all <i class="fa fa-arrow-right"></i>
        </button>
      </div>
      <div class="card-body">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element">{{ element.price }}</td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Quantity</th>
              <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>

            <!-- Category Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Category</th>
              <td mat-cell *matCellDef="let element">{{ element.category }}</td>
            </ng-container>

            <!-- Thumbnail Column -->
            <ng-container matColumnDef="thumbnail">
              <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
              <td mat-cell *matCellDef="let element">
                {{ element.thumbnail }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="productList?.length"
            [pageSize]="10"
            [pageSizeOptions]="[10, 20, 30]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="customers">
    <div class="card">
      <div class="card-header">
        <h3>User</h3>
        <button class="btn btn-expand" routerLink="/admin/users">
          See all <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      <div class="card-body">
        <div class="customer">
          <div class="customer__info">
            <div class="avatar">
              <img src="../../../assets/images/admin/user.png" alt="user" />
            </div>
            <div class="info">
              <h4>Lewis S. Cunningham</h4>
              <small>CEO Excerpt</small>
            </div>
          </div>
          <div class="customer__contact">
            <i class="fas fa-user-circle"></i>
            <i class="fas fa-comment"></i>
            <i class="fas fa-phone"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
