.btn-expand {
  background: var(--main-color-seller);
  border-radius: 20px;
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0.8rem 1.4rem;
  border: 1px solid var(--main-color-seller);
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  .card-single {
    &:last-child {
      background: var(--main-color-seller);
      .card-info,
      .card-icon {
        h1,
        span,
        i {
          color: #fff;
        }
      }
    }
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2.4rem;
    border-radius: 2px;
    .card-info {
      span {
        font-size: 1.6rem;
        color: var(--text-grey-seller);
      }
    }
    .card-icon {
      i {
        font-size: 3rem;
        color: var(--main-color-seller);
      }
    }
  }
}
.recent-flex {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 68% auto;
  grid-gap: 2rem;

  .projects {
    .card {
      background: #fff;
      border-radius: 5px;
      .card-header {
        padding: 1.6rem;
        border-bottom: 2px solid #f0f0f0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-size: 1.6rem;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      .card-body {
        // padding: 1rem;
        table {
          width: 100%;
          overflow-x: hidden;
          border-collapse: collapse;
          box-shadow: none;
          thead {
            tr {
              border-bottom: 2px solid #f0f0f0;
              th {
                text-transform: capitalize;
                text-align: left;
                padding: 0.5rem 1rem;
                font-weight: 700;
                font-size: 1.5rem;
                color: #222;
              }
            }
          }
          tbody {
            tr {
              td {
                text-transform: capitalize;
                text-align: left;
                padding: 1rem 1.2rem;
                font-size: 1.3rem;
                color: #222;
                .status {
                  display: inline-block;
                  margin-right: 0.5rem;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  &.active {
                    background: green;
                  }
                  &.no-active {
                    background: red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .customers {
    background: #fff;
    border-radius: 5px;
    .card {
      background: #fff;
      border-radius: 5px;
      .card-header {
        padding: 1.6rem;
        border-bottom: 2px solid #f0f0f0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-size: 1.6rem;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      .card-body {
        padding: 1rem;
        .customer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 1.2rem;
          .customer__info {
            display: flex;
            align-items: center;
            .avatar {
              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 1rem;
              }
            }
            .info {
              h4 {
                font-size: 1.3rem;
                font-weight: 700;
                color: #222;
                margin-bottom: 2px;
              }
              small {
                font-size: 1.2rem;
                font-weight: 600;
                color: var(--text-grey-seller);
              }
            }
          }
          .customer__contact {
            i {
              font-size: 1.8rem;
              display: inline-block;
              margin-left: 1rem;
              color: var(--main-color-seller);
            }
          }
        }
      }
    }
  }
}

.mat-elevation-z8 {
  box-shadow: none !important;
}
