<div class="heading">
  <h1>our shop</h1>
  <p><a routerLink="/">home >> </a> shop</p>
</div>

<section class="category">
  <h1 class="title">
    our <span>category</span> <a routerLink="/">view all >></a>
  </h1>

  <div class="box-container">
    <ng-container *ngFor="let category of categories">
      <a [routerLink]="['/shop/categories', category.id]" class="box">
        <img [src]="category.thumbnail" alt="" />
        <h3>{{ category.name }}</h3>
      </a>
    </ng-container>
  </div>
</section>

<section class="products">
  <h1 class="title">
    our <span>products</span> <a routerLink="/">view all >></a>
  </h1>
  <!-- [routerLink]="['/shop/products', product.id]" -->
  <div class="box-container">
    <ng-container *ngFor="let product of products; let index = index">
      <div class="box">
        <div class="icons">
          <a
            class="fas fa-shopping-cart"
            (click)="onAddProductToCart(product, 1)"
          ></a>
          <a href="#" class="fas fa-heart"></a>
          <a
            class="fas fa-eye"
            [routerLink]="['/shop/products', product.id]"
          ></a>
        </div>
        <div class="image">
          <img [src]="product.thumbnail" alt="" />
        </div>
        <div class="content">
          <h3>{{ product.name }}</h3>
          <div class="price">
            {{ product.price | currency: "$":"symbol-narrow":"1.0-3" }}
          </div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
