table {
  width: 100%;

  button.mat-raised-button + button.mat-raised-button {
    margin-left: 10px;
  }
}

.btn-material-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 18px;
  text-align: right;
  float: right;
  margin: 10px 12px 10px 0;
}
.form-add-product {
  display: none;
}
