<form
  class="mat-typography login-form"
  [formGroup]="signInForm"
  (ngSubmit)="onLogin()"
>
  <h3>sign in</h3>
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Username</mat-label>
    <input
      type="text"
      matInput
      placeholder=" "
      formControlName="username"
      class="form-input"
    />
    <mat-hint *ngIf="!userNameInput?.value">Enter your username</mat-hint>
  </mat-form-field>
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Password</mat-label>
    <input
      [type]="hide ? 'password' : 'text'"
      matInput
      placeholder=" "
      formControlName="password"
    />
    <mat-icon matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-hint *ngIf="!passwordInput?.value">Enter your password</mat-hint>
  </mat-form-field>
  <div class="remember">
    <input type="checkbox" name="remember-me" id="remember-me" />
    <label for="remember-me">Remember me</label>
  </div>
  <button type="submit" class="btn" [disabled]="signInForm.invalid">
    Sign In
  </button>
  <p>Forgot password? <a href="">Click here</a></p>
  <p>Don't have an account? <a routerLink="/sign-up">Sign up</a></p>
</form>
