/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/material";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

  ::selection {
    color: black;
  }
}

:root {
  --color-main: #1a202e;
  // --main-color-seller: #dd2f6e;
  --main-color-seller: #142f43;
  --color-dark-seller: #1d2231;
  --text-grey-seller: #8390a2;

  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #fff2ee;
  --secondary-color: #ee4d2d;
  --border-color: #dbdbdb;

  --header-height: 120px;
  --navbar-height: 36px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
}
